<span ng-click="nodeGroup.expanded = !nodeGroup.expanded">
        <i class="glyphicon"
           ng-class="{'glyphicon-chevron-right': !nodeGroup.expanded, 'glyphicon-chevron-down': nodeGroup.expanded}"></i>
        {{nodeGroup.name | translate}}
    </span>

<!-- Child groups -->
<ul ng-repeat="nodeGroup in nodeGroup.groups"
    class="stencil-nodeGroup stencil-nodeGroup-non-root"
    ng-class="{collapsed: !nodeGroup.expanded, 'first': $first}"
    ng-include="'editor-app/partials/stencil-item-template.html?version=5'">
</ul>

<!-- Group items -->
<ul>
    <li ng-repeat="item in nodeGroup.paletteItems" class="stencil-item"
        id="{{item.id}}"
        title="{{item.description | translate}}"
        ng-model="draggedElement"
        data-drag="true"
        jqyoui-draggable="{onStart:'startDragCallback', onDrag:'dragCallback'}"
        data-jqyoui-options="{revert: 'invalid', helper: 'clone', opacity : 0.5}">
        <img ng-if="!item.customIcon" ng-src="editor-app/stencilsets/{{getStencilSetName()}}/icons/{{item.icon}}" width="16px;"
             height="16px;"/>
        <img ng-if="item.customIcon" ng-src="{{getImageUrl(item.icon)}}" width="16px;" height="16px;"/>
        {{item.name | translate}}
    </li>
</ul>
